name: Deploy Flask App to EC2

on:
  pull_request:
    branches:
      - main
    types:
      - closed # Trigger when the PR is closed (merged)

jobs:
  deploy:
    if: github.event.pull_request.merged == true 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/infoscribe-flask:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/infoscribe-flask:latest

      - name: Deploy to EC2
        uses: peterkimzz/aws-ssm-send-command@v1.1.1
        id: ssm
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          instance-ids: ${{ secrets.INSTANCE_ID }}

          working-directory: /home/ubuntu/infoscribe
          command: docker-compose stop builder
          command: docker-compose rm builder
          command: docker-compose -f docker-compose.yaml up -d builder
